@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.App1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: white;
  text-transform: uppercase;
  margin: 3rem 0;
  text-align: center;
}

.search-form {
  width: 30rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  position: relative;
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.mar {
  margin-top: -10rem;
}
.ma {
  margin-bottom: 10rem;
}
.alert {
  position: absolute;
  top: -2.5rem;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.7rem);
  border-radius: 0.3rem;
  padding: 0.021rem;
}

.alert h3 {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 50%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 15%;
  text-transform: uppercase;
  background-color: #8ca6db;
  color: #fff;
}

.ingredient-list {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.3rem 0;
}

.ingredient-text {
  font-size: 1rem;
  color: #5D5D5D;
}

.ingredient-image {
  text-align: center;
  width: 500px;
  height: 500px;
}

.recommend {
  align-content: center;
  justify-self: start;
}

.container1{
  padding: 0px;
  max-width: 100%;
  width: 800px;
  align-items: stretch;
  justify-content: flex-start;
  
}

.one {
  float: left;
  margin-right: 100px;
}

.two {
  float: left;
  margin-right: 100px;
}

.three {
  float: left;
}

.meal{
  background-color: #ffffff;
  border-radius: 20px;
  
}

.meal-img{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  flex: 2;
}

.meal-img img{
  object-fit: cover;
  height: 40%; 
  width: 100%;
}

.meal-details{
  padding: 60px;
  position: relative;
  flex: 2;
}

.meal-title{
  color: #8C8C8C;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 20px;
}

.meal-instruction{
  color: #8C8C8C;
  font-size: 14px;
}

.meal-info{
  display: flex;
  list-style-type: none;
  padding: 0;
}

.meal-info li{
  color: #555;
  font-size: 14px;
  font-weight: 300;
  margin-right: 50px;
}

.meal-info li strong{
  color: var(--primary-color);
  font-size: 18px;
  display: block;
}
